/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* Redefina os estilos padrão do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Corpo da página 
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
*/

/* body {
  /* background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-items: center; }*/

.main{
  background-color: #f4f4f4;
  min-height: calc(100vh - 154px - 29px);
  margin-top: 154px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 700px;
  width: 650px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
    flex-grow: 1; /* Expande para ocupar o espaço disponível */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    /* margin-top: 70px; */
}

/* Título da página */
h1 {
  text-align: center;
  margin-bottom: 0px;
  font-size: 1.5rem;
  color: #333;
}

/* Formulário */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Rótulo do input */
label {
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

/* Input de arquivo */
input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botão de envio */
input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

/* Mensagem de erro */
.error {
  color: #dc3545;
  margin-top: 10px;
  font-size: 1rem;
}

/* Informações do PDF */
.pdf-info {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Título das informações do PDF */
.pdf-info h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #333;
}

/* Conteúdo do texto do PDF */
.pdf-info pre {
  white-space: pre-wrap;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
}

/* Texto gerado */
.generated-text {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f0f0f0;
  font-size: 1rem;
}

/* Quebra de linha para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    margin: 10px;
  }

  h1 {
    font-size: 1.2rem;
  }

  label {
    font-size: 0.9rem;
  }

  input[type="submit"] {
    font-size: 0.9rem;
  }

  .error {
    font-size: 0.9rem;
  }

  .pdf-info h3 {
    font-size: 1rem;
  }

  .pdf-info pre {
    font-size: 0.9rem;
  }

  .generated-text {
    font-size: 0.9rem;
  }
}

/* NAV-BAR */

/* Estilos para o header */
/*
header {
  position: fixed;
  top: -10px;
  width: 100%; /* Ocupa toda a largura da tela */
   /* Garante que fique acima de outros elementos */
 /* background-color: #fff; /* Exemplo de cor de fundo */
 /* padding: 0px;        /* Exemplo de espaçamento interno */ 
/*} */

.header {
  position: fixed;
  top: 0;
  height: 154px;
  width: 100%;
  z-index: 100;
  background-image: linear-gradient(to right, #770004, #510007, #320107);
  color: white;
  padding: 10px; 
}

.header > h1{
  margin: 10px 0px 0px 0px;
  color: white;
}

.header > p{
  text-align: center;
  margin-top: 6px;
}

header {
  position: fixed;
  top: 0;
  height: 154px;
  width: 100%;
  z-index: 100;
  background-color: #fff; /* Exemplo de cor de fundo */
  padding: 10px; 
}

header > h1{
  margin: 10px 0px 0px 0px;
}

header > p{
  text-align: center;
  margin-top: 6px;
}

/* Estilos para Foorter */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #195b38;
  padding: 4px 0; /* Ajuste o padding conforme necessário */
}

footer > p {
  text-align: center;
  font-weight: normal;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #320107;
  padding: 4px 0; /* Ajuste o padding conforme necessário */
}

.footer > p {
  text-align: center;
  font-weight: normal;
  color: white;
}


.nav-links{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 20px 15px 8px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.nav-links li{
  list-style: none;
  margin: 0 12px;
}
.nav-links li a{
  position: relative;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before{
  width: 100%;
}
.nav-links li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-links li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-links li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-links li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}

/*  */
.nav-linkss{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #770004, #510007, #320107);
  padding: 20px 15px 8px 15px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.nav-linkss li{
  list-style: none;
  margin: 0 12px;
}
.nav-linkss li a{
  position: relative;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-linkss li a:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: #34efdf;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-linkss li a:hover:before{
  width: 100%;
}
.nav-linkss li.center a:before{
  left: 50%;
  transform: translateX(-50%);
}
.nav-linkss li.upward a:before{
  width: 100%;
  bottom: -5px;
  opacity: 0;
}
.nav-linkss li.upward a:hover:before{
  bottom: 0px;
  opacity: 1;
}
.nav-linkss li.forward a:before{
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
}
.nav-linkss li.forward a:hover:before{
  transform: scaleX(1);
  transform-origin: left;
}




/* FIM NAV  */


/* TRATAMENTO DE IMAGENS INDEX */
.radio-btns {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(5 , 100px);
}

.radio-btns:hover .apps:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.80;
}

.radio-btns:hover .apps:not(:hover)::after {
  background-color: rgba(#000, 0.5);
}

@media (min-width: 30rem) {
  .radio-btns {
    grid-template-columns: repeat(5, 270px);
  }
}

.apps {
  position: relative;
  cursor: pointer;
  transition: .3s;
}

.apps::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0);
  transition: .3s;
}

.apps img {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* CHATBOT */

.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child  {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 470px;
  height: 600px;
  background: #f79f57;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
  transition: all 0.1s ease;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  height: 90px;
  position: relative;
  text-align: center;
  color: #fff;
  background: #510007;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.chatbot h2{
  padding-top: 10px;
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 430px;
  padding: 30px 20px 50px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #960004;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;    
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #510007;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
}
