<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>AI For All</h1>
        <p>Aqui você pode fazer uma analise automatica de arquivos, textos, imagens e interagir a inteligencia artificial Gemini</p>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li class="center"><a href="#">GitHub</a></li>
            <li class="upward"><a href="#">Sobre</a></li>
            <li class="forward"><a href="#">Linkedin</a></li>
        </ul>
    </header>

    <main class="main">
        <div class="radio-btns" role="radiogroup">
            <div>
                <p>Doctor_Robot</p>
                <a href="doctor_robot.html">
                    <div class="apps" role="radio" aria-checked="false" tabindex="-1" aria-label="Select image one">
                        <img src="../static/images/doctor_robot.jpeg" alt="Robot Health-Care">
                    </div>
                </a>
                <details>
                    <summary>Funcionalidades</summary>
                    <p>-Ler pedido médico de exames</p>
                    <p>-Conta quantos exames existem no pedido</p>
                    <p>-Identifica nome do médico e paciente</p>
                    <p>-Contém um Chatbot para tirar dúvidas sobre os exames</p>
                </details>
            </div>
            <div>
                <p>Teacher_Robot</p>
                <a href="teacher_robot.html">
                    <div class="apps" role="radio" aria-checked="false" tabindex="-1" aria-label="Select image two">
                      <img src="../static/images/teatcher_robot.jpeg" alt="Image description">
                    </div>
                </a>
                <details>
                    <summary>Funcionalidades</summary>
                    <p>-Conversação voltada para aprendizagem</p>
                    <p>-Consegue ler imagens com textos/numeros (envie um print da questão e ele ira resolver)</p>
                    <p>-Retorna respostas em Texto ou JSON depende do que voce escolher</p>
                    <p>-Ler textos PDF</p>
                    <p>-Contém comando "/Limpar" isso esvazia a memória do bot</p>
                    <p><strong>Certifique-se de ter todas as bibliotecas devidamente instaladas</strong></p>
                </details>
            </div>
            <div>
                <p>Nature_Robot</p>
                <a href="nature_robot.html">
                    <div class="apps" role="radio" aria-checked="false" tabindex="-1" aria-label="Select image three">
                      <img src="../static/images/nature_robot.jpeg" alt="Image description">
                    </div>
                </a>
                <details>
                    <summary>Funcionalidades</summary>
                    <p>-Conversação voltada para ClimaTempo</p>
                    <p>-Consegue descrever Temperatura, Umidade, Vento</p>
                    <p>-Mapa com sua localização</p>
                    <p>-Contém comando "/Limpar" isso esvazia a memória do bot</p>
                    <p><strong>Certifique-se de ter todas as bibliotecas devidamente instaladas e API_KEY configurada</strong></p>
                </details>
            </div>
            <div>
                <p>excel_robot</p>
                <a href="#">
                    <div class="apps" role="radio" aria-checked="false" tabindex="-1" aria-label="Select image three">
                        <img src="../static/images/excel_robot.jpeg" alt="Image description">
                    </div>
                </a>
                <details>
                    <summary>Funcionalidades</summary>
                    <p>-Conversação voltada para ClimaTempo</p>
                    <p>-Consegue descrever Temperatura, Umidade, Vento</p>
                    <p>-Mapa com sua localização</p>
                    <p>-Contém comando "/Limpar" isso esvazia a memória do bot</p>
                    <p><strong>Certifique-se de ter todas as bibliotecas devidamente instaladas e API_KEY configurada</strong></p>
                </details>
            </div>
            <div>
                <p>chef_robot</p>
                <a href="#">
                    <div class="apps" role="radio" aria-checked="false" tabindex="-1" aria-label="Select image three">
                        <img src="../static/images/chef_robot.jpeg" alt="Image description">
                    </div>
                </a>
                <details>
                    <summary>Funcionalidades</summary>
                    <p>-Conversação voltada para ClimaTempo</p>
                    <p>-Consegue descrever Temperatura, Umidade, Vento</p>
                    <p>-Mapa com sua localização</p>
                    <p>-Contém comando "/Limpar" isso esvazia a memória do bot</p>
                    <p><strong>Certifique-se de ter todas as bibliotecas devidamente instaladas e API_KEY configurada</strong></p>
                </details>
            </div>
        </div>
    </main>

    <footer>
        <p>Site criado por <strong>Derek Barragão</strong> para Projeto <strong>Imersão IA Alura</strong></p>
    </footer>

</body>
</html>